html,
body {
    height: 100%;
}

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 14px;
    line-height: 1.2;
    overflow-x: hidden;
    background-color: #EAEDED;
    color: #333;
}

#root,
.main__wrapper {
    height: 100%;
}

.comn__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.btn__common {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all .3s ease;
}

.main__header,
.main__footer {
    background-color: #131921;
    padding: 10px 20px;
}

.footer__desc {
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

.section__app-body {
    min-height: calc(100vh - 96px);
}

.para__error-comn {
    font-size: 12px;
    color: red;
    font-style: italic;
}

/* content */
.main__logo {
    display: flex;
    pointer-events: none;
    align-items: flex-end;
}

.main__logo span {
    display: inline-flex;
}

.span__wishlistIco {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #f90;
}

.span__amazonIco svg {
    display: block;
}

.input__common {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    display: inline-flex;
    width: 240px;
    height: 36px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5),
        0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
    padding: 0 15px;
    color: #555;
    font-size: 16px;
    font-weight: 700;
}

.p__error-common {
    position: absolute;
    bottom: 5px;
    left: 0;
}

.showCommon {
    display: block !important;
}